<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Footer Template</title>
</head>

<body>

	<footer id="fragmentTag" th:fragment="footer1(title,subtitle)">

		<div class="container">

			<!--<h1>About Priyanshu Baral</h1>-->
			<h1 th:text="${title}"></h1>
			<h2 th:text="${subtitle}"></h2>
			<h3>Provide content of programming</h3>
			<h4>Feel free to contact and work with me</h4>

			<p>A programming language is a system of notation for writing computer programs.[1] Most programming
				languages are text-based formal languages, but they may also be graphical. They are a kind of computer
				language.</p>

		</div>

	</footer>

</body>

</html>